<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Solicitud de prestamos</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <h4>Solicitud de prestamos</h4>
    <h6>Rellene los campos para solictar un prestamo</h6>
    <br>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info">
                <button type="button" class="close" datadismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
<form action="" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-group row">
        {{ form.dni.errors }}
        <label class="col-sm-4 control-label" for="{{ form.dni.id_for_label }}">Dni: </label>
        <div class="col-sm-4">
              {{ form.dni }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.nombre_apellido.errors }}
        <label class="col-sm-4 control-label" for="{{ form.nombre_apellido.id_for_label }}">Nombre y apellido:</label>
        <div class="col-sm-4">
              {{ form.nombre_apellido }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.genero.errors }}
        <label class="col-sm-4 control-label" for="{{ form.genero.id_for_label }}">Genero:</label>
        <div class="col-sm-4">
              {{ form.genero }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.email.errors }}
        <label class="col-sm-4 control-label" for="{{ form.email.id_for_label }}">Email:</label>
        <div class="col-sm-4">
              {{ form.email }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.monto.errors }}
        <label class="col-sm-4 control-label" for="{{ form.monto.id_for_label }}">Monto:</label>
        <div class="col-sm-4">
              {{ form.monto }}
        </div>
    </div>


    </br>
    <button type="submit"  class="btn btn-success btn-md">
        Solicitar prestamo
    </button>

</form>
</div>
</body>
</html>